.skills-container {
  color: rgb(250, 225, 175);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  background-image: url(../../assets/images/bg/white-bg-min.jpg);
  background-size: cover;
  min-height: 100vh;
  padding: 0 2%;
}

.skills-title {
  font-size: 5rem;
  color: grey;
}

.skills-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 50%;
  max-height: 100%;
}
.skill-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 20%;
  margin: 1% 2%;
}
.skill-container p {
  user-select: none;
  padding: 10px;
  border-radius: 0;
  width: 80%;
  background-color: gray;
  transform: scale(1);
  transition: all linear 210ms 20ms;
}
.skill-container:hover p {
  color: grey;
  background-color: rgb(250, 225, 175);
  transform: scale(1.1);
}
.skill-badge {
  height: 7vw;
  width: 7vw;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: rgb(250, 225, 175);
  background-color: gray;
  border-radius: 50%;
  transition: all linear 200ms;
}
.skill-container:hover .skill-badge {
  fill: grey;
  background-color: rgb(250, 225, 175);
  border-radius: 0;
}

.skill-badge svg {
  width: 50%;
  height: auto;
  transform: scale(1);
  transition: all linear 150ms;
}
.skill-container:hover svg {
  transform: scale(1.2);
}

@media screen and (max-width: 820px) {
  .skills-container {
    flex-direction: column;
    justify-content: center;
  }
  .skills-content {
    width: 100%;
  }
  .skills-title {
    font-size: 2rem;
  }
  .skill-badge {
    height: 5rem;
    width: 5rem;
  }
  .skill-container {
    margin: 0 5%;
  }
  .skill-container p {
    padding: 2px;
    width: 100%;
    font-size: 70%;
  }
}
