.contacts-container {
  position: relative;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding: 0 2%;
  background-color: white;
  background-image: url(../assets/images/bg/white-bg-min.jpg);
  background-size: cover;
}

.contacts-title {
  font-size: 5rem;
}

.contacts-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
}

.social {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contacts-content a {
  text-align: center;
  color: black;
  margin: 2% 0;
  font-size: 1.5rem;
  text-decoration: none;
}

.contacts-content svg {
  height: 7vw;
  width: 7vw;
  transition: all linear 270ms;
}
.contacts-content svg:hover {
  stroke-width: 2px;
  stroke: black;
  fill: none;
}

@media screen and (max-width: 820px) {
  .contacts-container {
    flex-direction: column;
    justify-content: center;
  }
  .contacts-title {
    font-size: 2rem;
  }
  .contacts-content {
    flex-direction: column;
  }
  .social {
    height: 20vh;
  }
}
