.intro-container {
  height: 100vh;
  background-color: black;
  display: flex;
  overflow: hidden;
}

.intro-svg {
  position: fixed;
  z-index: 50;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40%;
}

.intro-svg path {
  fill: #fae1af;
  fill-opacity: 0;
  opacity: 0.6;
  stroke-linecap: round;
  stroke-width: 0.4;
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: stardrawing 6000ms cubic-bezier(0.645, 0.045, 0.355, 1) alternate
    500ms;
}

@keyframes stardrawing {
  to {
    stroke-dashoffset: 0;
    opacity: 1;
    stroke: black;
    transform: scale(0.8);
  }
}

.right,
.left {
  width: 50%;
  height: 100%;
  background-color: black;
  transition: all linear 2100ms;
}

.right {
  transform: translateY(150%);
}
.left {
  transform: translateY(-150%);
}
