.intro-container {
  height: 100vh;
  background-color: white;
  display: flex;
}
.text {
  color: rgb(250, 225, 175);
  position: fixed;
  z-index: 50;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.right,
.left {
  width: 50%;
  height: 100%;
  background-color: white;
  transition: all linear 400ms;
}

.right {
  transform: translateY(150%);
}
.left {
  transform: translateY(-150%);
}
