.navbar-container,
.navbar-container-hidden {
  font-family: -apple-system, BlinkMacSystemFont, 'Josefin Sans', 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px 0;
  background-image: url(../assets/images/bg/nav-bg.jpg);
  background-size: cover;
}

.navbar-container {
  font-size: 100%;
  letter-spacing: 1px;
  z-index: 50;
  background-color: white;
  box-shadow: 0px 2px 20px black;
  transform: translateY(0);
  transition: all linear 430ms;
}

.navbar-container-hidden {
  opacity: 0;
  z-index: -10;
  transform: translateY(-100%);
  transition: all linear 400ms;
}

.navbar-container a,
.navbar-container-hidden a {
  margin: 0 10px;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 2px;
  padding: 5px;
  width: 13%;
  text-align: center;
  text-decoration: none;
  color: black;
  transition: all linear 100ms;
}

.navbar-container a:hover {
  background-color: black;
  color: white;
  transform: scale(1.02);
  text-shadow: 0 0 2px gray;
}

@media screen and (max-width: 820px) {
  .navbar-container {
    font-size: 65%;
  }
  .navbar-container a,
  .navbar-container-hidden a {
    width: 22%;
  }
}
