.profil-container {
  color: rgb(250, 225, 175);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  background-color: black;
  min-height: 100vh;
  padding: 0 2%;
}

.profil-title {
  color: rgb(250, 225, 175);
}

.profil-content {
  line-height: 2rem;
  text-align: start;
  font-size: 1.5rem;
}

.highlight {
  color: white;
}
@media screen and (max-width: 700px) {
  .profil-container {
    padding-top: 10vh;
  }
  .profil-content {
    font-size: 1rem;
  }
}
